.resizable-x {
    position: relative;
}
.resizer-right {
    position: absolute;
    z-index: 10;
    top: 1rem;
    bottom: 1rem;
    right: 0;
    width: 2rem;
    background: transparent;
    cursor: ew-resize;
    user-select: none;
}
<<<<<<< HEAD
.resizer-right + article {
=======
.resizer-right + section {
>>>>>>> f01c456949567e88fa44bf9fa2e40d0396f697ce
    right: 2rem;
}